.cart-item {
  @extend .flex-wrap;
  align-items: center;
  gap: 25px;
  padding: 10px;
  border: 1px solid var(--cart-item-border-color);
  border-radius: var(--base-border-radius);
  background-color: var(--white);

  &__side {
    position: relative;
    outline: 1px solid red;

    .badge {
      position: absolute;
      top: 4px;
      left: -8px;
    }

    img {
      display: block;
      width: 80px;
      height: 80px;
      object-fit: contain;
    }
  }

  &__content {
    flex-grow: 1;
    outline: 1px solid red;

    &-title {
      font-family: var(--secondary-font);
      font-size: 18px;
      font-weight: 500;
      margin: 0;
      margin-bottom: 8px;
      color: var(--secondary);
    }

    &-colors {
      @extend .flex-wrap;
      @extend .list-reset;
      gap: 15px;
      li {
        @extend .flex-wrap;
        align-items: center;

        font-size: 14px;
        font-weight: 400;
        line-height: 1;
        color: var(--alt-black);
      }
    }
  }
}

.color-box {
  width: 16px;
  height: 16px;
  margin-right: 6px;
  border-radius: 2px;
}
