.catalog-item {
  @extend .flex-column;
  width: 100%;
  max-width: 300px;
  padding: 20px;
  border: 1px solid var(--gray-2);
  background: var(--white);
  box-sizing: border-box;

  &-swiper {
    z-index: 100;
  }

  &__header {
    position: relative;

    &-controls {
      @extend .flex-column;
      align-items: center;
      gap: 8px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 100;
    }

    .swiper-slide {
      display: flex;
      align-items: center;
      max-width: 100%;
    }

    img {
      aspect-ratio: 1/1;
      width: 100%;
      max-width: 220px;
      height: auto;
      margin: 0 auto;
    }
  }

  &__body {
    margin-bottom: 20px;
  }

  &__title {
    font-family: var(--secondary-font);
    font-size: 16px;
    font-weight: 700;

    min-height: 58px;
    color: var(--secondary);

    -webkit-line-clamp: 3; /* Число отображаемых строк */
    display: -webkit-box; /* Включаем флексбоксы */
    -webkit-box-orient: vertical; /* Вертикальная ориентация */
    overflow: hidden; /* Обрезаем всё за пределами блока */
  }

  &__footer {
    display: flex;
    align-items: center;
    gap: 20px;

    a {
      min-height: initial;
    }

    a:first-child {
      flex-grow: 1;
      max-width: 100%;
    }

    @include m-b-down(360px) {
      flex-direction: column;
      gap: 10px;
      a {
        width: 100%;
        max-width: 100%;
      }
    }
  }
}

