<div class="card">
      <span class="card-title">Бесплатный самовывоз при заказе день в день</span>
      <span class="card-desc">
        Доставка по Москве осуществляется в день заказа при заказе до 17:00. 
        ⁠Самовывоз находится по адресу: м. Фили, Багратионовский проезд, д. 7, к. 20В, 
        БЦ «Конвент», офис 304. Для доступа в БЦ необходимо иметь при себе удостоверение личности.
      </span>
      <a href="#" class="lw-main-btn lw-main-btn--outlined">Подробнее</a>
  </div>