<div class="card">
      <span class="card-title">Доставка по Москве</span>
      <span class="card-desc">
        Доставка в пределах МКАД - 390 рублей. Доставка по Москве осуществляется в день заказа 
        при заказе до 17:00. Доставка габаритных товаров (электросамокаты, телевизоры, мониторы ,
         крупные пылесосы) осуществляется день в день до 17 часов при отсутствии свободных курьеров, 
         производится до подъезда, подъём до квартиры оплачивается дополнительно (+100) рублей.
      </span>
  </div>