<div class="catalog-item">
  <div class="catalog-item__header">
    <div class="swiper-container catalog-item-swiper">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="./assets/img/cat-item.png" alt="cat-item" width="220" height="220">
          </div>
          <div class="swiper-slide">
            <img src="./assets/img/cat-item.png" alt="cat-item" width="220" height="220">
          </div>
          <div class="swiper-slide">
            <img src="./assets/img/cat-item.png" alt="cat-item" width="220" height="220">
          </div>
          <div class="swiper-slide">
            <img src="./assets/img/cat-item.png" alt="cat-item" width="220" height="220">
          </div>
          <div class="swiper-slide">
            <img src="./assets/img/cat-item.png" alt="cat-item" width="220" height="220">
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>


    </div>
    <div class="catalog-item__header-controls">
      <span class="badge">-10%</span>
      <a href="#" class="favourite-btn active" aria-label="Добавить в избранное">
        <svg width="24" height="20">
          <use xlink:href="./assets/sprite.svg#icon-heart"></use>
        </svg>
      </a>
    </div>
  </div>

  <div class="catalog-item__body">
    <h3 class="catalog-item__title">Xiaomi Mi 10T 8 128Gb RU Black</h3>

    <div class="catalog-item-status catalog-item-status--available">
      В наличии
    </div>

    <div class="catalog-item-status catalog-item-status--notavailable">
      Нет в наличии
    </div>

    <div class="catalog-item-price">
      <div class="catalog-item-price-discount">
        -19 190 ₽
      </div>
      <div class="catalog-item-price-old">
        125 190 ₽
      </div>

      <div class="catalog-item-price-current">
        Цена 106 000 ₽
      </div>
    </div>
  </div>

  <div class="catalog-item__footer">
    <a href="#" class="lw-main-btn">Добавить в корзину</a>
    <a href="#" class="lw-main-btn lw-main-btn--outlined">Подробнее</a>
  </div>
</div>
