<div class="product-detail-side">
  <div class="product-detail-side__grid">
    <div class="feature-item">
      <img src="./assets/img/features/feat-6.png" alt="feat_alt" width="120" height="120">
      <p class="feature-item__text">Доставка в день<br>заказа</p>
      <a href="#" class="lw-base-link">Подробнее</a>
    </div>
    <div class="feature-item">
      <img src="./assets/img/features/feat-2.png" alt="feat_alt" width="120" height="120">
      <p class="feature-item__text">Бесплатный самовывоз<br>при заказе день в день</p>
      <a href="#" class="lw-base-link">Подробнее</a>
    </div>
    <div class="feature-item">
      <img src="./assets/img/features/feat-7.png" alt="feat_alt" width="120" height="120">
      <p class="feature-item__text">2 года расширенной<br>гарантии</p>
      <a href="#" class="lw-base-link">Подробнее</a>
    </div>
    <div class="feature-item">
      <img src="./assets/img/features/feat-8.png" alt="feat_alt" width="120" height="120">
      <p class="feature-item__text">Новое оригинальное<br>запечатанное устройство</p>
      <a href="#" class="lw-base-link">Подробнее</a>
    </div>
    <div class="feature-item">
      <img src="./assets/img/features/feat-9.png" alt="feat_alt" width="120" height="120">
      <p class="feature-item__text">Кэшбек 300 р<br>за отзыв</p>
      <a href="#" class="lw-base-link">Подробнее</a>
    </div>
    <div class="feature-item">
      <img src="./assets/img/features/feat-10.png" alt="feat_alt" width="120" height="120">
      <p class="feature-item__text">Проверка устройства<br>до оплаты</p>
      <a href="#" class="lw-base-link">Подробнее</a>
    </div>
  </div>
</div>
