<div class="product-detail-info lw-rounded-wrapper">
  <div class="product-detail-info__main">
    <div class="product-detail-info__main-section product-detail-info__main-section--top">
      <div class="product-detail-info__main-price">1 180 380 ₽</div>

      <div class="product-detail-info__main-button-group">
        <div class="lw-main-btn lw-main-btn--outlined">
          <svg width="16" height="16">
            <use xlink:href="./assets/sprite.svg#icon-heart"></use>
          </svg>
          Отложить
        </div>
        <div class="lw-main-btn lw-main-btn--outlined">
          <svg width="16" height="16">
            <use xlink:href="./assets/sprite.svg#icon-compare"></use>
          </svg>
          Сравнить
        </div>
      </div>
    </div>

    <div class="product-detail-info__main-section product-detail-info__main-section--middle">
      <div class="product-main-chars">
        <div class="product-main-chars__section">
          <span>Накопитель</span>
          <div class="product-main-chars__button-group">
            <button class="active">
              <span>256 гб</span>
            </button>

            <button>
              <span>128 гб</span>
            </button>

            <button>
              <span>64 гб</span>
            </button>

            <button>
              <span>128 гб</span>
            </button>

            <button>
              <span>64 гб</span>
            </button>
          </div>
        </div>

        <div class="product-main-chars__section">
          <span>Цвет</span>
          <div class="product-main-chars__switcher-group">
            <button>
              <span  style="background-color: #ffffff"></span>
            </button>
            <button class="active">
              <span style="background-color: #ddf1d5"></span>
            </button>
            <button>
              <span  style="background-color: #d83838"></span>
            </button>
            <button>
              <span  style="background-color: #206c9e"></span>
            </button>
            <button>
              <span  style="background-color: #3a3b41"></span>
            </button>
            <button>
              <span  style="background-color: #baaef3"></span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="product-detail-info__main-section product-detail-info__main-section--bottom">
      <button class="lw-main-btn">Добавить в корзину</button>
      <button class="lw-main-btn lw-main-btn--outlined">Быстрый заказ</button>
    </div>
  </div>

  <div class="product-detail-info__chars">
    <span>Краткие характеристики</span>
    <ul class="product-detail-chars-list">
      <li class="product-detail-chars-list__item">
        <span>
          Дисплей:
        </span>
        <span>
          6.1" , 2532x1170 , Цветной, Super Retina XDR OLED , 60Гц
        </span>
      </li>
      <li class="product-detail-chars-list__item">
        <span>
          Основная камера:
        </span>
        <span>
          2 : 12 + 12
        </span>
      </li>
      <li class="product-detail-chars-list__item">
        <span>
          Фронтальная камера:
        </span>
        <span>
          12 Мп
        </span>
      </li>
      <li class="product-detail-chars-list__item">
        <span>
          Процессор:
        </span>
        <span>
          Apple A15 Bionic , 6 ядер , Apple GPU
        </span>
      </li>
    </ul>

    <button class="lw-main-btn lw-main-btn--outlined">Смотреть все характеристики</button>
  </div>
</div>
