.lw {
  &-container {
    margin: 0 auto;
    padding: 0 var(--container-offset);
    max-width: var(--container-width);
  }

  &-container-fluid {
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--container-offset);
    max-width: var(--container-fluid-width);
  }

  &-alt-color-wrapper {
    padding: 25px ;
    background-color: var(--white);
    border-radius: var(--base-border-radius);

    @include m-b-tablet-down {
      padding: 25px 20px;
    }

    @include m-b-mobile-lg-down {
      padding: 20px 15px;
    }
  }

  &-section {
    margin-bottom: 48px;
  }

  &-section-header {
    @extend .flex-wrap;
    align-items: center;
    margin-bottom: 24px;

    .lw-section-title {
      margin-bottom: 0;
      @include m-b-mobile-lg-down {
        margin-right: auto;
      }
    }


  }

  &-section-title {
    display: inline-block;
    font-family: var(--secondary-font);
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 24px;
    margin-right: 18px;
    color: var(--secondary);

    @include m-b-tablet-down {
      font-size: 20px;
    }

    @include m-b-mobile-lg-down {
      font-size: 18px;
    }
  }

  &-main-title {
    font-family: var(--secondary-font);
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.31px;
    margin: 0;
    color: var(--white);
  }

  &-base-link {
    font-family: var(--secondary-font);
    font-size: 12px;
    font-weight: 400;
    text-decoration-line: underline;

    color: var(--secondary);
    @extend .hover-opacity;
  }

  &-main-btn {
    @extend .btn-default;
    @extend .flex-centered-content;

    font-family: var(--secondary-font);
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    width: 100%;
    max-width: fit-content;
    min-height: 32px;
    text-align: center;
    padding: 11px 10px 10px;

    border: 1px solid transparent;
    border-radius: 6px;
    background-color: var(--primary);
    color: var(--white);
    @extend .main-btn-hover;

    &--outlined {
      border-color: var(--primary);
      background-color: transparent;
      color: var(--primary);
      @extend .main-btn-outlined-hover;
    }
  }

}
