<footer class="lw-footer">
  <div class="lw-container">
    <div class="lw-footer__grid">
      <div class="lw-footer__grid-side">

      </div>

      <div class="lw-footer__grid-side">
        <div class="subscribe-form">
          <span class="subscribe-form__title">Подпишитесь</span>
          <span class="subscribe-form__text">У нас для вас кое-что есть</span>
          <small>Получайте бонусы на почту через несколько секунд пребывания на сайте.</small>
          <form action="#">
            <fieldset>
              <input type="text" placeholder="Введите почту">
              <input type="submit" value="Отправить" class="lw-main-btn">
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>
